<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mostrar Datos</title>
    <link rel="stylesheet" href="./static/style/style.css">
</head>
<body>
    <h1>Anuncio Generado Automaticamente</h1>
    <div class="text-container">
        <pre>{{ data[0] }}</pre>
        <h3 style='margin-top:20px'>Análisis de imagenes:</h3>
        <pre>{{ data[1] }}</pre>
        <h3 style='margin-top:20px'>Análisis de lugares cercanos:</h3>
        <pre>{{ data[2] }}</pre>
        <h3 style='margin-top:20px'>Análisis del tipo de texto según características:</h3>
        <pre>{{ data[3] }}</pre>
    </div>
</body>
</html>